*{
    margin:0;
    padding:0;
    
}
.navbar{
    display:flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}
body{
    font-family:"Poppins", sans-serif;
    font-size: medium;
   

}
.nav__s2 ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

}
.nav__s2 li{
    list-style: none;



}
.nav__s3{
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap:20px;

}
.nav__s3 button{
    background-color: black;
    color:white;
    border-radius: 30px;
    padding: 10px 20px;
}
.where{
    font-weight: 800;
    font-size: 50px;
    text-align: center;
    margin-top:30px;
}
.menu{
    margin-top: 20px;
}
.menu img{
    height: 20px;
    margin-right: 2px;
}
.menu ul{
    display: flex;
    justify-content:center;
    gap: 15px;

}
.menu li{
    display: flex;
    list-style: none;
    font-weight: 500;
}
.search{
    padding: 5px;
    border:solid white 1px;
    border-radius:30px;
    width:40%;
    display:flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    background-color: white;
    margin-left: 450px;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);


}
.search i{
    margin-left: 20px;
    font-size: 20px;
}
.search input{
    border: none;
    width:100%;
    font-size:16px;
    background-color: transparent;
    padding: 15px;
    
}
.search input:focus{
    outline:none;
}
.btn{
    background-color: #84E9BD;
    border-radius: 30px;
    padding: 15px 25px;
    border: none;
}
.imgtrip{
    margin-top: 70px;
    text-align: center;
}
.categories img{
    height: 250px;
    width:250px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.categories .images{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
    position: relative;
}
.categories h2{
    color:white;
    position:absolute;
    bottom:15px;
    margin-left: 15px;
    font-size: 25px;
    z-index: 1;
    
}
video{
    width: 65%;
    margin-left: 270px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.destination i{
    font-size: 20px;
    color: #84E9BD;
}
.destination{
    display: flex;
    justify-content: center;
    gap:20px;
}
.destination img{
    height: 200px;
    width:200px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.des_highlight{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left:220px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.des_highlight h3{
    font-size: 30px;
    font-weight: 500;
}
.destination p{
    font-size: 13px;
    color: grey;
}
.destination h4{
    padding: 5px 0px;
    font-size: 18px;
    font-weight: 500;
}

.ad{
    background-color: rgb(241, 191, 241);
    height:180px;
    display:flex;
    width:72%;
    margin-left:200px;
    margin-top:60px;
    border-radius: 20px;


}
.ad img{
    height: 150px;
    width:150px;
    transform: rotate(8deg);
    position: relative;
    top: 20px;
    left:20px;
}
.add{
    display: flex;
    flex-direction: column;
    margin-left: 80px;;
    justify-content: space-around;
}
.adbtn{
    height:20px;
    width:200px;
    background-color: rgb(204, 204, 204);
    border-radius:5px;
    border:none;
    font-size: 10px;
    font-family: "Poppins", sans-serif;

}
.read-btn{
    height:20px;
}